body {
    background-color: #f1f1f1;
    font-family: "Roboto Mono", monospace;
}

* {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #FF6600;
    display: flex;
}

.logo {
    width: 20%;
    padding: 2% 0 2% 0;
    margin-left: 8%;
}

.link {
    display: flex;
    margin-top: 11%;
}

    .link a {
        text-decoration: none;
        color: rgb(43, 43, 43);
        font-weight: 500;
        transition: all 0.3s;
        border-radius: 6px;
        padding: 20px;
    }

    .link a:hover {
        font-weight: 700;
        font-size: 20px;
        color: black;
        background-color: #db5800;

    }

/*INTRODUÇÃO*/
.introducao {
    background-color: #f1f1f1;
    color: #080808;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
}
    .introducao h1{
        font-size: 40px;
        margin-top: 40px;
    }

    .introducao img{
        border-radius: 20px;
        width: 30%;
        height: 30%;
        margin-right: 40px;
    }
    .paragrafo {
        text-align: justify;
        font-size: 18px;
        margin: 20px 40px 10px 40px;
        color: rgb(2, 2, 2);
    }